<fieldset data-bind="visible: canShowBankaccount()" class="fieldset">
    <div class="field required required-input-entry bank-field-required">
        <label data-bind="attr: {'for': getCode() + 'bankaccountnumber'}" class="label">
            <span><!-- ko i18n: 'Bank Account Number (IBAN)' --><!-- /ko --></span>
        </label>
        <input type="text"
               name="payment[bankaccountnumber]"
               class="afterpay-bank-account required-entry iban-validation"
               data-bind="attr: {'id': getCode() + '_bankaccountnumber'}, value: bankaccountNumber, afterRender: initializeBAN()"
               event="focusout: triggerValidationProcess()"
               data-validate="{required:true, 'iban-validation': true}"
        />
        <span class="afterpay-bankaccount-verification-bar"></span>
    </div>
</fieldset>
