<!--
/**
 * Copyright (c) 2022  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2022 arvato Finance B.V.
 */
-->
<fieldset data-bind="visible: canShowConditions()"
          class="fieldset field-select-billing terms-and-conditions">
    <!-- ko if:  canShowConditions() -->
    <div data-bind="attr: {class: getConditionsClass()}">
        <!-- ko if:  canShowLegalInfoCheckBox() -->
        <input type="checkbox" value="terms_and_conditions"
               data-bind="attr: {'id': getCode() + '_termsAndConditions'}, checked: termsAndConditions"
               name="payment[terms_and_conditions]"
               data-validate="{required:true}"
        />
        <!-- /ko -->
        <label data-bind="attr: {'for': getCode() +  '_termsAndConditions'}" class="label"></label>
            <!-- ko ifnot:  canShowLegalInfoCheckBox() -->
            <!-- ko if:  isPayInXPaymentMethod() -->
            <div  data-bind="html: getPayInXConditionsText(), attr: {'text': updatePayInXConditionsLinks()}" class="afterpay-terms-and-conditions-grey riverty_payinx_conditions"></div>
            <!-- /ko -->
            <!-- ko ifnot:  isPayInXPaymentMethod() -->
            <div class="afterpay-terms-and-conditions-grey">
                <!-- ko i18n: 'The' --><!-- /ko -->
                <a data-bind="attr: {'href': 'javascript:void(0)', 'data-trigger': 'termstrigger_' + getCode()}">
                    <!-- ko i18n: 'general terms and conditions' --><!-- /ko -->
                </a>
                <!-- ko i18n: 'for the Riverty payment method apply. The Privacy Policy of Riverty can be found' --><!-- /ko -->
                <a data-bind="attr: {'href': 'javascript:void(0)', 'data-trigger': 'privacytrigger_' + getCode()}">
                    <!-- ko i18n: 'here' --><!-- /ko -->
                </a>.
            </div>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: canShowLegalInfoCheckBox() -->
            <!-- ko if:  isPayInXPaymentMethod() -->
            <div  data-bind="html: getPayInXConditionsText(), attr: {'text': updatePayInXConditionsLinks()}" class="riverty_payinx_conditions"></div>
            <!-- /ko -->
            <!-- ko ifnot:  isPayInXPaymentMethod() -->
            <div>
            <!-- ko i18n: 'I have read and accept the' --><!-- /ko -->
            <a data-bind="attr: {'href': 'javascript:void(0)', 'data-trigger': 'termstrigger_' + getCode()}">
                <!-- ko i18n: 'general terms and conditions' --><!-- /ko -->
            </a>
            <!-- ko i18n: 'for the Riverty payment method and the' --><!-- /ko -->
            <a data-bind="attr: {'href': 'javascript:void(0)', 'data-trigger': 'privacytrigger_' + getCode()}">
                <!-- ko i18n: 'privacy policy' --><!-- /ko -->
            </a>
            <!-- ko i18n: 'of Riverty' --><!-- /ko -->.
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </label>
    </div>
    <!--/ko-->
    <!-- ko if: canShowCodeOfConduct() -->
    <div>
        <label class="label" data-bind="text: getCodeOfConduct()"></label>
    </div>
    <!--/ko-->
    <!-- ko if: isTrackingActive() -->
    <div>
        <label class="label" data-bind="attr: {'for': getTrackingInputId()}">
            <!-- ko i18n: 'I agree to the' --><!-- /ko -->
            <a data-bind="attr: {'href': getTrackingConditionsLink()}" target="_blank">
                <!-- ko i18n: 'Terms and Conditions for the selected Riverty payment method.' --><!-- /ko -->
            </a>
            <!-- ko i18n: 'I have taken note of' --><!-- /ko --> 
            <a data-bind="attr: {'href': getTrackingPrivacyLink()}" target="_blank">
                <!-- ko i18n: "Riverty's data protection information" --><!-- /ko -->
            </a>
            <!-- ko i18n: 'and I agree that Riverty will take Merchant and Buyer protection measures (e.g. by using end device information by setting cookies).' --><!-- /ko -->     
        </label>
    </div>
    <!--/ko-->
    <div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': $t('The Terms & Conditions for the Riverty payment method'),
            'trigger': '[data-trigger=termstrigger_' + getCode() + ']',
            'responsive': true,
            'innerScroll': true,
            'modalClass': 'afterpay-tc-modal',
            'buttons': [{
                text: $t('Close'),
                class: 'action primary',
                click: function () {
                    this.closeModal();
                }
            }]
        }}">
        <div class="content">
            <iframe class="afterpay-modal-iframe" data-bind="attr: {'src': getConditionsLink()}"></iframe>
        </div>
    </div>

    <div data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'title': $t('The privacy policy for the Riverty payment method.'),
            'trigger': '[data-trigger=privacytrigger_' + getCode() + ']',
            'responsive': true,
            'innerScroll': true,
            'modalClass': 'afterpay-pp-modal',
            'buttons': [{
                text: $t('Close'),
                class: 'action primary',
                click: function () {
                    this.closeModal();
                }
            }]
        }}">
        <div class="content">
            <iframe class="afterpay-modal-iframe" data-bind="attr: {'src': getPrivacystatementLink()}"></iframe>
        </div>
    </div>
</fieldset>
