<!-- ko if: canShowDynamicFields() -->
<fieldset class="fieldset">
    <div class="field">
        <label class="label">
            <span><!-- ko i18n: 'Enter your credentials' --><!-- /ko --></span>
        </label>
        <div>
            <!-- ko if: isDutchSpecificText() -->
                <span>Om veilig af te rekenen, vragen wij om je</span>
                    <!-- ko foreach: { data: showDynamicFields(), as: 'fields'} -->
                    <span data-bind="text: fields"></span>
                    <!-- /ko -->
                <span>in te vullen.</span>
            <!-- /ko -->

            <!-- ko ifnot: isDutchSpecificText() -->
                <!-- ko i18n: 'In order to guarantee a secure checkout, we need to verify your ' --><!-- /ko -->
                    <!-- ko foreach: { data: showDynamicFields(), as: 'fields'} -->
                    <span data-bind="text: fields"></span>
                    <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</fieldset>
<!-- /ko -->
