<!--
/**
 * Copyright (c) 2022  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2022 arvato Finance B.V.
 */
-->

<!-- ko if: canShowIntroductionBlock() -->
<div class="afterpay-introduction-block">
    <ul>
        <!-- ko if: canShowIntroductionText('14-days') -->
        <li style="width: 100%;"><!-- ko i18n: 'Pay within 14 days. No fees.' --><!-- /ko --></li>
        <li style="width: 100%;"><!-- ko i18n: 'Manage all your payments in the Riverty app.' --><!-- /ko --></li>
        <li style="width: 100%;"><!-- ko i18n: 'Receive your order before payment.' --><!-- /ko --></li>
        <!--/ko-->
        <!-- ko if: canShowIntroductionText('installment') -->
        <li style="width: 100%;"><!-- ko if: isGermanOrDutch() --><!-- ko i18n: 'Pay in ' --><!-- /ko -->
            <span data-bind="text: getIntroNumberOfInstallments()"></span>
            <!-- ko i18n: 'installments from ' --><!-- /ko -->
            <span data-bind="text: getIntroInstallmentPrice()"></span>
            <!-- ko i18n: 'per month.' --><!-- /ko -->
            <!-- /ko --><!-- ko ifnot: isGermanOrDutch() --><!-- ko i18n: 'Pay in instalments, starting at ' --><!-- /ko -->
            <span data-bind="text: getIntroInstallmentPrice()"></span>
            <!-- ko i18n: 'per month.' --><!-- /ko -->
            <!-- /ko -->

        </li>
        <li style="width: 100%;"><!-- ko i18n: 'Manage all your payments in the Riverty app.' --><!-- /ko --></li>
        <li style="width: 100%;"><!-- ko i18n: 'Receive your order before payment.' --><!-- /ko --></li>
        <!--/ko-->
        <!-- ko if: canShowIntroductionText('direct_debit') -->
        <li style="width: 100%;"><!-- ko i18n: 'Easy and secure' --><!-- /ko --></li>
        <li style="width: 100%;"><!-- ko i18n: 'Your payment will be withdrawn automatically.' --><!-- /ko --></li>
        <li style="width: 100%;"><!-- ko i18n: 'Manage all your payments in the Riverty app.' --><!-- /ko --></li>
        <!--/ko-->
    </ul>
</div>
<!--/ko-->
