<?php

/**
 * Copyright (c) 2022  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2022 arvato Finance B.V.
 */

?>
<?php /** @var $block \Afterpay\Payment\Block\CustomSuccess */ ?>
<?php if ($block->getPaymentMethod() == "afterpay"): ?>
    <div class="checkout-custom-success">
        <div>
            <img class="afterpay-success-logo" src="https://cdn.riverty.design/logo/riverty-primary-badge.svg" alt="afterpay_logo not found"/>
        </div>
        <div class="afterpay-text">
            <span class="afterpay-quote"><?= __('Shop first, pay later with Riverty') ?></span>
            <p class="afterpay-thanks-message"><?= __('Thank you for your purchase and for choosing Riverty as your payment method. An email with the order confirmation, details and tracking info is on the way, but feel free to discover what Riverty can do for you.') ?></p>
            <p><?= __('Download our app on your smartphone or visit %1 in your browser to find out the easiest way to keep track of outstanding payments, pause payments for returns or keep track and many more options.', sprintf('<a href="https://my.riverty.com/" target="_blank"><strong>MyRiverty</strong></a>')) ?></p>
        </div>
    </div>
<?php endif; ?>
