.payment-method-additional-data .customer-dob label {
    width: 100%;
}

.payment-method-additional-data .customer-dob select {
    display: inline-block;
    width: 90px;
}

.payment-method-additional-data .customer-dob select.dob-year {
    width: 105px;
}

.payment-method-additional-data .terms-and-conditions .label {
    display: inline;
}

h1.afterpay-test-mode {
    text-align: center;
    background-color: #E02B27;
    color: #FFFFFF;
}

.afterpay-introduction-block {
    background-color: #E0E9E8;
    margin-bottom: 20px;
}

.afterpay-introduction-block ul {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.afterpay-introduction-block ul li::before {
    content: "\2022";
    color: #2D6C68;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.afterpay-introduction-block ul li:last-child {
    margin-bottom: 0;
}

.payment-method label img.payment-icon.smaller-icon {
    width: 48px;
}

.payment-method-additional-data .flex .preview,
.payment-method-additional-data .installment .preview {
    margin-top: 1rem;
}

.payment-method-additional-data .installment .disclaimer,
.payment-method-additional-data .installment .summary,
.payment-method-additional-data .flex .disclaimer {
    margin-bottom: 1rem;
}

.payment-method-additional-data input[name="payment[ssn]"]::placeholder {
    color: #adadad;
}

.payment-method-additional-data input[name="payment[ssn]"]::-webkit-input-placeholder {
    color: #adadad;
}

.payment-method-additional-data input[name="payment[ssn]"]:-ms-input-placeholder {
    color: #adadad;
}

input[name="payment[bankaccountnumber]"]::placeholder {
    color: #d0d0d0;
}

input[name="payment[bankaccountnumber]"]::-webkit-input-placeholder {
    color: #d0d0d0;
}

input[name="payment[bankaccountnumber]"]:-ms-input-placeholder {
    color: #d0d0d0;
}

.opc-wrapper .payment-method-title .afterpay-description {
    font-size: smaller;
    color: #666;
    margin-top: 3px;
}

label[for*="afterpay"] span {
    font-weight: normal;
}

.payment-method-additional-data .installment-option {
    border: 1px solid #afafaf;
}

.payment-method-additional-data .installment-option:last-child {
    border-bottom: 1px solid #afafaf;
}

.payment-method-additional-data .installment-option._active {
    border: 1px solid #006BB4;
    background: #DEF2FF;
}

.payment-method-additional-data .installment-option label {
    width: auto;
    height: 100%;
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}

.payment-method-additional-data .installment-option b {
    font-weight: 600;
}

.payment-method-additional-data .installment-option input[type="radio"] {
    margin: 0 0 0 10px;
}

.payment-method-additional-data .installment-info {
    margin-top: 10px;
}

.fieldset>.field.required>.label:after {
    margin-left: 0;
}

.afterpay-success-logo {
    height: 105px;
    width: 185px;
    float: right;
    margin-top: 20px;
    margin-right: 45px;
}

.afterpay-quote {
    font-weight: bold;
}

.afterpay-thanks-message {
    margin-top: 20px;
}

.checkout-custom-success {
    border: 4px grey solid;
    padding: 20px;
    margin-bottom: 10px;
}

.afterpay-payment-method {
    display: inline-block;
    vertical-align: middle;
}

.checkout-payment-method .payment-method-title {
    padding: 15px 0px 15px 15px;
}

@media (max-width:600px) {
    .afterpay-text,.afterpay-success-logo {
      float:none;
      width:100%;
      margin-top: 15px;
    }
}

.afterpay-terms-and-conditions-grey,
.installment-option-description {
    color: #999;
    font-size: 12px;
}

.afterpay-terms-and-conditions-grey a {
    color: #208BE2;
    text-decoration: underline;
}

.afterpay-terms-and-conditions-grey a:hover {
    text-decoration: none;
}

.optionTextLower {
    color: #999;
    font-size: 12px;
}

.afterpay-tc-modal .modal-header button.action-close,
.afterpay-pp-modal .modal-header button.action-close{
    display: none;
}

.afterpay-bankaccount-verification-bar {
    font-size: 12px;
}

.afterpay-bankaccount-verification-bar.loader {
    background: url(../../images/loader-1.gif) no-repeat left;
    background-size: contain;
    height: 20px;
    width: 100%;
    display: block;
}

.afterpay-bankaccount-verification-bar.success {
    color: green;
}

.afterpay-bankaccount-verification-bar.failed {
    color: red;
}

.afterpay-success-iban {
    display: inline-block;
    transform: rotate(45deg);
    height: 13px;
    width: 7px;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 7px;
    left: 0;
}

.afterpay-modal-iframe {
    height: 400px;
    width: 100%;
    border-style: none;
}

.afterpay-payment-method-heading {
    width: 65%;
}

.riverty-payinx-element {
    background-color: #F3F1F0;
    margin-bottom: 20px;
}

riverty-split {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.checkout-payment-method .payment-method-content .fieldset:not(:last-child) {
    margin: 0 0 10px;
}