<!--
/**
 * Copyright (c) 2021  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2021 arvato Finance B.V.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: getMethodsFields()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <div class="afterpay-payment-method">
                <img data-bind="attr: {src: getPaymentIcon()}" class="payment-icon smaller-icon"/>
            </div>
            <div class="afterpay-payment-method afterpay-payment-method-heading">
                <span text="getTitle()"></span>
                <div class="afterpay-description" data-bind="text: getDescription()"></div>
            </div>
        </label>
    </div>
    <div class="payment-method-content">
        <h1 class="afterpay-test-mode" data-bind="text: getTestmodeLabel(), visible: isTestmode() == true"></h1>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: canShowPaymentMethodFields() -->
        <div class="payment-method-additional-data field-select-billing">
            <!-- ko template: getFieldsDynamicValidation() --><!-- /ko -->
            <fieldset data-bind="visible: canShowFlexInfo()" class="fieldset">
                <div class="flex">
                    <div>
                        <!-- ko i18n: 'Monthly installment: at least' --><!-- /ko -->
                        <span text="getFlexInfo().installmentAmount"></span>
                        <!-- ko i18n: 'or about 10% of the total' --><!-- /ko -->
                    </div>
                    <ul class="preview">
                        <li>
                            <!-- ko i18n: 'No startup fee' --><!-- /ko -->
                        </li>
                        <li>
                            <!-- ko i18n: 'Monthly fee of:' --><!-- /ko -->
                            <span text="getFlexInfo().monthlyFee"></span>
                            <!-- ko i18n: '/ per month' --><!-- /ko -->
                        </li>
                        <li>
                            <!-- ko i18n: 'Interest rate of:' --><!-- /ko -->
                            <span text="getFlexInfo().interestRate + ' %'"></span>
                        </li>
                    </ul>
                    <div class="disclaimer" translate="'The credit application must be finalized after purchase.'"></div>
                    <div class="summary">
                        <!-- ko i18n: 'Example: If the payment period is 12 months, the real annual interest rate on a loan of EUR 1,000.00 is 28.72%.' --><!-- /ko -->
                        <!-- ko i18n: 'In this case, the total amount to be paid is EUR 1,143.55, of which credit costs account for EUR 143.55.' --><!-- /ko -->
                    </div>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowCompanyName()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_company_name'}" class="label">
                        <span><!-- ko i18n: 'Company Name:' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[company_name]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_company_name'},
                            value: companyName"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowLegalForm()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_legal_form'}" class="label">
                        <span><!-- ko i18n: 'Company Legal Form:' --><!-- /ko --></span>
                    </label>
                    <select name="payment[legal_form]"
                            class="required-entry admin__control-select"
                            data-bind="attr: {'id': getCode() + '_legal_form'}, event:{change: getData},
                            options: getLegalFormValues(),
                            optionsValue: 'optionValue',
                            optionsText: 'optionText',
                            value: legalForm">
                    </select>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowNumber()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_tel_number'}" class="label">
                        <span><!-- ko i18n: 'Phone Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[customer_telephone]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_tel_number'},
                            value: telNumber"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>

            <!-- ko template: getBankAccountTemplate() --><!-- /ko -->

            <fieldset data-bind="attr: {'id': getCode() + '_coc_number_fieldset'}, visible: canShowCoc()" class="fieldset">
                <div data-bind="attr: {'id': getCode() + '_coc_number_div'}" class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_coc_number'}" class="label">
                        <span><!-- ko i18n: 'Chamber of Commerce (CoC):' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[coc_number]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_coc_number'},
                            value: cocNumber"
                           data-validate="{required:true}"/>
                    <span style="font-size: smaller; color: #999;"><!-- ko i18n: 'Unique code assigned to a business by an authorized entity, and enables the exact identification of your company.' --><!-- /ko --> </span>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowSsn()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'ssn'}" class="label">
                        <span><!-- ko i18n: 'Social Security Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[ssn]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_ssn', placeholder: $t('Placeholder SSN')},
                           value: ssn"
                           data-validate="{required:true}"
                    />
                    <!-- ko if:  canShowSsnNotice() -->
                        <span>
                            <!-- ko i18n: 'For more information about processing personal data' --><!-- /ko --> <a
                                data-bind="attr: {'href': getSsnNoticeLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'click here' --><!-- /ko --></a>
                        </span>
                    <!--/ko-->
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowGender()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_gender'}" class="label">
                        <span><!-- ko i18n: 'Select Gender' --><!-- /ko --></span>
                    </label>
                    <select name="payment[gender]"
                            class="required-entry admin__control-select"
                            data-bind="attr: {'id': getCode() + '_gender'},
                            options: getGenderValues(),
                            optionsValue: 'optionValue',
                            optionsText: 'optionText',
                            value: customerGender">
                    </select>
                </div>
            </fieldset>
            <fieldset data-bind="attr: {'id': getCode() + '_dob_fieldset'}, visible: canShowDob()" class="fieldset field-select-billing customer-dob">
                <div class="field required dob-required">
                    <label data-bind="attr: {'for': getCode()}" class="label">
                        <span><!-- ko i18n: 'Date of Birth' --><!-- /ko --></span>
                    </label>

                    <input type="text"
                           class="dob"
                           name="payment[dob]"
                           data-bind="attr: {'id': getCode()},
                           value: dobFull, afterRender: initializeDob()"
                           data-validate="{required:true, 'customer-dob-validator': true}"
                    />
                </div>
            </fieldset>
            <!-- ko template: getConditionsTemplate() --><!-- /ko -->
        </div>
        <!--/ko-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowedAfterpay()}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
