<div class="disclaimer" translate="'The credit application must be finalized after purchase.'"></div>
<div class="summary">
    <!-- ko i18n: 'When the payment period is' --><!-- /ko -->
    <span text="installment().numberOfInstallments"></span>
    <!-- ko i18n: 'months, the effective annual percentage rate of charge for the' --><!-- /ko -->
    <span text="installment().basketAmount"></span>
    <!-- ko i18n: 'euro credit is' --><!-- /ko -->
    <span text="installment().effectiveAnnualPercentageRate"></span>
    <!-- ko i18n: '%. In this case, the total amount to be paid is EUR' --><!-- /ko -->
    <span text="installment().totalAmount"></span>
    <!-- ko i18n: ', of which the credit cost is EUR' --><!-- /ko -->
    <span text="installment().differenceAmount"></span>
</div>
