<!-- ko if: (installment().totalAmount) -->
<div class="installment-option-description">
    <span data-bind="i18n: 'On a shopping cart amount of'"></span>
    <span data-bind="text: installment().totalAmount"></span>
    <span data-bind="i18n: 'and'"></span>
    <span data-bind="text: installment().numberOfInstallments"></span>
    <span data-bind="i18n: 'equal installments, the total amount with interest will be'"></span>
    <span data-bind="text: installment().totalAmount"></span>.
    <span data-bind="i18n: 'With an interest rate of'"></span>
    <span data-bind="text: ' ' + installment().interestRate + '%'"></span>
    <span data-bind="i18n: 'and an effective rate of'"></span>
    <span data-bind="text: ' ' + installment().effectiveInterestRate + '%'"></span>.
</div>
<!-- /ko -->
