<!--
/**
 * Copyright (c) 2021  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2021 arvato Finance B.V.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: getMethodsFields()">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
        />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <div class="afterpay-payment-method">
                <img
                        data-bind="attr: {src: getPaymentIcon()}"
                        class="payment-icon smaller-icon"
                />
            </div>
            <div class="afterpay-payment-method afterpay-payment-method-heading">
                <span text="getTitle()"></span>
                <div class="afterpay-description" text="getInstallmentDetails()"></div>
            </div>
        </label>
    </div>
    <div class="payment-method-content">
        <h1
                class="afterpay-test-mode"
                data-bind="text: getTestmodeLabel(), visible: isTestmode() == true"
        ></h1>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko template: getIntroductionBlock() --><!-- /ko -->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: canShowPaymentMethodFields() -->
        <div class="payment-method-additional-data field-select-billing">
            <fieldset class="fieldset">
                <div class="field required">
                    <!-- ko foreach: { data: installments(), as: 'installment'}  -->
                    <div
                            class="installment-option"
                            data-bind="css: {'_active': $parent.isSelected(installment) }"
                    >
                        <input
                                type="radio"
                                data-bind="attr: { value: installment.value, id: 'option_' + installment.value, checked: $parent.selectFirst(installment) }, click: $parent.selectionChange"
                                name="installment_radio_option"
                        />
                        <label
                                data-bind="attr: {'for': 'option_' + installment.value}, html: installment.optionText"
                        ></label>
                    </div>
                    <!--/ko-->

                    <div class="installment-info installment-option-description">
                        <!-- ko template: getInstallmentInfoTemplate() --><!-- /ko -->
                    </div>
                </div>
            </fieldset>
            <!-- ko template: getFieldsDynamicValidation() --><!-- /ko -->
            <!-- ko template: getBankAccountTemplate() --><!-- /ko -->
            <fieldset data-bind="attr: {'id': getCode() + '_dob_fieldset'}, visible: canShowDob()" class="fieldset field-select-billing customer-dob">
                <div class="field required dob-required">
                    <label data-bind="attr: {'for': getCode()}" class="label">
                        <span><!-- ko i18n: 'Date of Birth' --><!-- /ko --></span>
                    </label>

                    <input type="text"
                           class="dob"
                           name="payment[dob]"
                           data-bind="attr: {'id': getCode()},
                           value: dobFull, afterRender: initializeDob()"
                           data-validate="{required:true, 'customer-dob-validator': true}"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowNumber()" class="fieldset">
                <div class="field required required-input-entry">
                    <label
                            data-bind="attr: {'for': getCode() + '_tel_number'}"
                            class="label"
                    >
                        <span><!-- ko i18n: 'Phone Number' --><!-- /ko --></span>
                    </label>
                    <input
                            type="text"
                            name="payment[customer_telephone]"
                            class="required-entry"
                            data-bind="attr: {'id': getCode() + '_tel_number'},
                            value: telNumber"
                            data-validate="{required:true}"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="attr: {'id': getCode() + '_coc_number_fieldset'}, visible: canShowCoc()" class="fieldset">
                <div data-bind="attr: {'id': getCode() + '_coc_number_div'}" class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_coc_number'}" class="label">
                        <span><!-- ko i18n: 'Chamber of Commerce (CoC):' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[coc_number]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_coc_number'},
                            value: cocNumber"
                           data-validate="{required:true}"/>
                    <span style="font-size: smaller; color: #999;"><!-- ko i18n: 'Unique code assigned to a business by an authorized entity, and enables the exact identification of your company.' --><!-- /ko --> </span>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowSsn()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'ssn'}" class="label">
                        <span><!-- ko i18n: 'Social Security Number' --><!-- /ko --></span>
                    </label>
                    <input
                            type="text"
                            name="payment[ssn]"
                            class="required-entry"
                            data-bind="attr: {'id': getCode() + '_ssn', placeholder: $t('Placeholder SSN')}, value: ssn"
                            data-validate="{required:true}"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowGender()" class="fieldset">
                <div class="field required">
                    <label data-bind="attr: {'for': getCode() + '_gender'}" class="label">
                        <span><!-- ko i18n: 'Select Gender' --><!-- /ko --></span>
                    </label>
                    <select
                            name="payment[gender]"
                            class="required-entry admin__control-select"
                            data-bind="attr: {'id': getCode() + '_gender'},
                            options: getGenderValues(),
                            optionsValue: 'optionValue',
                            optionsText: 'optionText',
                            value: customerGender"
                    ></select>
                </div>
            </fieldset>
            <div class="installment-option-description fieldset">
                <div class="static-text">
                    <!-- ko if:  isGermanSpeaking() -->
                    <!-- ko i18n: 'Here you will find the ' --><!-- /ko -->
                    <a href="https://documents.myafterpay.com/consumer-terms-conditions/de_DE/default/bgb507" target="_blank"><!-- ko i18n: 'mandatory information according to § 507 BGB' --><!-- /ko --></a>
                    <!-- ko i18n: 'and the ' --><!-- /ko -->
                    <a data-bind="attr: {href: installment().readMore, 'target': '_blank', rel: 'noopener noreferrer'}"><!-- ko i18n: 'European Standard Information for Consumer Credit' --><!-- /ko --></a>.
                    <!-- /ko -->

                    <!-- ko ifnot:  isGermanSpeaking() -->
                    <!-- ko i18n: 'Here you will find the ' --><!-- /ko -->
                    <a data-bind="attr: {href: installment().readMore, 'target': '_blank', rel: 'noopener noreferrer'}"><!-- ko i18n: 'European Standard Information for Consumer Credit' --><!-- /ko --></a>.
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko template: getConditionsTemplate() --><!-- /ko -->
        </div>
        <!--/ko-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button
                        class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowedAfterpay()}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
