.afterpay-version {
    display: block;
    margin-top: 7px;
}

.afterpay-methods.description .comment {
    background-color: #e7e4e2;
    padding: 8px;
}

.afterpay-section.section-config.active > .admin__collapsible-block + input + fieldset {
    margin-left: 40px;
    margin-bottom: 20px;
}

.afterpay-section .afterpay-payment-logo {
    background: url('https://cdn.riverty.design/logo/riverty-primary-badge.svg') no-repeat;
    height: 80px;
    width: auto;
    padding-left: 20rem;
    display: inline-block;
    vertical-align: middle;
    background-size: 180px;
}

.afterpay-section .button-container {
    float: right;
}

.afterpay-section .afterpay-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%
}

.api-key-verification-response {
    display: none;
    margin-top: 10px;
}

.riverty-api-key-verification-button {
    margin-top: -10px;
}

.invalid-api-key-verfication-response {
	color: red;
}

.api-key-verification-check-mark {
    display: inline-block;
	transform: rotate(45deg);
    height: 13px;
    width: 7px;
    border-bottom: 2px solid #78b13f;
    border-right: 2px solid #78b13f;
    margin-right: 4px;
    margin-left: 7px;
}